.items {
  width: 100%;
  height: auto;
  font-size: .8rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.buybutton {
  width: 20px;
  height: 10px;
  background-color: purple; }

.itemCard {
  width: 150px;
  height: 300px;
  padding: 5px;
  box-shadow: 0 1px 2px 0 #ccc;
  overflow: scroll;
  margin-bottom: 2.5em; }

.itemCard img {
  width: 5rem;
  height: 5rem; }
