
.shop-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 2rem;
}

.shopHeader {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #3d315b;
    color: white;
}

.shopHeader h1 {
    font-size: 3.5rem;
    font-weight: 400;
}

.items {
    width: 100%;
    height: auto;
    font-size: .8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.itemtitle {
    text-align: center;
    border-bottom: 2px solid #3d315b;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 80%;
    justify-content: center;
    margin-top: 20px;
}

.cardhead {
    display: flex;
    justify-content: space-around;
}

.buybutton {
    width: 6em;
    height: 2em;
    background-color: #3d315b;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.noBuy {
    background-color: rgb(90, 90, 90);
    filter: blur(5px);
}

.button {
    display: none;
}

.itemImage {
    height: 120px;
}

.itemCard {
    width: 150px;
    height: 300px;
    padding: 10px;
    box-shadow: 0 1px 5px 0 rgb(168, 168, 168);
    margin-bottom: 2.5em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (min-width: 600px) {
	.shopCont {
        display: none;
    }
}