.shop-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2rem; }

.items {
  width: 100%;
  height: auto;
  font-size: .8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center; }

.itemtitle {
  text-align: center;
  border-bottom: 2px solid #3d315b;
  padding-bottom: 25px;
  margin-bottom: 25px;
  width: 80%;
  justify-content: center; }

.cardhead {
  display: flex;
  justify-content: space-around; }

.buybutton {
  width: 4em;
  height: 2em;
  background-color: #3d315b;
  color: white; }

.noBuy {
  background-color: #5a5a5a;
  filter: blur(5px); }

.button {
  display: none; }

.itemImage {
  height: 120px; }

.itemCard {
  width: 150px;
  height: 300px;
  padding: 5px;
  box-shadow: 0 1px 5px 0 #a8a8a8;
  margin-bottom: 2.5em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center; }
