.abilitiesDiv {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
vertical-align: middle;
line-height: 50px;
color: white;
}

.abilitiesInnerDiv {
    border-top: 2px solid white;
    // border-bottom: 2px solid white;
}

.abilitiesTitle {
height: 63px;
width: 100%;
margin-bottom: 25px;
font-size: 32px;
font-weight: 150px;
text-align: center;
vertical-align: middle;
line-height: 50px;
}

.abilityIcon {
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.abilityBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 10px solid #444B6E;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.abilityName {
    font-size: 24px;
    margin-left: 10px;
}

.abilityIcons {
    width: 40px;
    height: 40px;
}