.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #248232;
  background-image: url("http://www.kinyu-z.net/data/wallpapers/119/1119507.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -999
}

.Rainbow2 {
    position: relative;
    width: 100vw;
    height: 45vh;
    overflow: hidden;
    background: transparent;
    transform: translate(-50vw, -16.666vw);
    top: 18vw;
    left: 50vw;
  }
  
.Rainbow2:after {
    position: absolute;
    content: '';
    width: 110vw;
    height: 100%;
    top: 25vw;
    left: -5.2vw;
    border-radius: 50%;
    box-shadow: 0 0 0 2vw #4200AB, 0 0 0 4vw #000095, 0 0 0 6vw #00ABFF, 0 0 0 8vw #00C800, 0 0 0 10vw #FFF800, 0 0 0 12vw #FF7642, 0 0 0 14vw #E40000;      
}

footer {
position: absolute;
bottom: 0;
height: 10vh;
width: 100%;
background-color: #2D3A3A;
}