.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // margin: auto;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #7ec0ee;
  background-size: cover;
//   filter: blur(4px);
  z-index: -999
}

.Rainbow2 {
    position: absolute;
    width: 100vw;
    height: 45vh;
    overflow: hidden;
    background: transparent;
    transform: translate(-50vw, -16.666vw);
    top: 18vw;
    left: 50vw;
  }
  
.Rainbow2:after {
    position: absolute;
    content: '';
    width: 120vw;
    height: 100%;
    top: 25vw;
    left: -9vw;
    border-radius: 50%;
    filter: blur(.4rem);
    box-shadow: 0 0 0 2vw #4200AB, 0 0 0 4vw #000095, 0 0 0 6vw #00ABFF, 0 0 0 8vw #00C800, 0 0 0 10vw #FFF800, 0 0 0 12vw #FF7642, 0 0 0 14vw #E40000;      
}

.divButton {
	display: flex;
	justify-content: center;
	color: #040F0F;
	margin-top: 20%;
}
.LoginButton {
	border-radius: 50px;
	width: 150px;
	height: 50px;
	border: 1px solid white;
	text-align: center;
	vertical-align: middle;
	line-height: 52px;  
}

.Flex {
	display: flex;
	justify-content: center;
}
.stickFront {
	border: 1px solid white;
	border-radius: 50%;
	padding: 15px;
	width: 125px;
	height: 125px;
	margin-top: -10px;
}

footer {
position: absolute;
bottom: 0;
height: 10vh;
width: 100%;
background-color: #2D3A3A;
}

.MobileView {

}
.MobileViewPic {
	display: none;
}
@media (min-width: 600px) {
	.Rainbow2 {
		display: none;
	}
	.content {
		display: none;
	}
	.MobileView {
		background-color: white;
		background-size: cover; 
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		z-index: 9999;
		position: absolute;
	}
	.MobileViewPic {
		height: 100vh;
		width: 100vw;
		display: inline-block;
	}
	.bgImage {
		display: none;
	}
}

// *{ margin: 0; padding: 0;}


#clouds{
	padding: 100px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
	background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
    
    z-index: 3;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -200px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
    z-index: 4;
}

.x5 {
	left: -150px; top: -150px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}