.previewWindow {
  border: solid 1px transparent;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  margin-top: 30px; }

.stickman {
  margin-top: -6px; }

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 200px; }

.backgroundDashboard {
  height: 100vh;
  background-color: white; }

.buttonModal {
  width: 40vw;
  color: white;
  background: #3D315B;
  border: none;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px; }

.inputModal {
  height: 25px;
  width: 50vw;
  text-align: center;
  background: rgba(61, 49, 91, 0.194); }

.outerDropzone {
  display: flex;
  justify-content: center; }

.dropzone {
  border: 2px dashed #3D315B;
  height: 100px;
  width: 200px;
  margin-bottom: 40px; }

.outerouterDiv {
  height: 200px;
  width: 200px; }

.stickmanClosed {
  height: 0px;
  width: 150px;
  opacity: 0; }

.stickmanOpen {
  height: 200px;
  width: 200px;
  opacity: 1;
  transition: 1s;
  margin-left: 20px; }

.tabsStuff {
  background: #3D315B;
  height: 100%; }

.icons {
  width: 30px;
  height: 30px; }
