.main-nav {
    width: 100%;
    height: 40vh;
}

.logo {
    width: 35px;
    height: 35px;
    border: 1px solid #e9e7e7;
    border-radius: 40px;
    padding: 4px;
    justify-content: center;
    margin-left: 12px;
    margin-top: 5px;
}

.logoText {
    display: flex;
    justify-content: center;
    font-size: 25px;
    // margin-right: 10px;
    color: #e9e7e7;
}

.navbar {
    position: relative;
    background-color: #3D315B;
    width: 100%;
    height: 7vh;
    box-shadow: 0 0 10px 3px #040F0F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    // border-bottom: 4px solid #2D3A3A;
}


.main-header {
    background-color: #9AB87A;
    width: 100%;
    height: 25vh;
    box-shadow: inset 0 -3px 10px rgb(22, 22, 22);
    display: flex;
    align-items: center;
}

.hammy {
    height: 30px;
    width: 40px;
    box-shadow: 0px 0px 3px 1px #e9e7e7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    position: relative;
    margin-right: 10px;
}


.hammy div {
    width: 80%;
    height: 4px; 
    background-color: #e9e7e7;
    border-radius: 5px;
}

.media-nav-link {
    display: none;
}


@media(max-width: 425px){
    .nav-link {
        display: none;
    }

    .hammy {
        opacity: 1;
    }

    .hammy:active {
        box-shadow: inset 0 0 5px rgba(22, 22, 22, 0.603);
    }

    .media-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 25vh;
        background-color: #444B6E;
        transition: 0.5s;
        overflow: hidden;
        z-index: 999;
        opacity: 0.9;
        text-align: center;
    }

    .mediaNavOn {
        position: absolute;
        right: 0;
    }

.mediaNavOff {
    position: absolute;
    right: 0px;
    width: 0px;
    overflow: hidden;
}

.media-nav-link {
    width: 100vw;
    height: 4rem;
    color: rgb(214, 214, 214);
    display: inline-block;
    text-decoration: none;
    // text-align: center;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.385);
}

}